:host {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
}

.header {
  display: flex;
  align-items: center;
}

.header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.header button {
  margin-left: auto;
}


.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

app-project-card:hover {
    cursor: pointer;
}