:host {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

app-project-card:hover {
    cursor: pointer;
}