@if (projectStore.loading()) {
  <app-spinner></app-spinner>
}
@else if (projectStore.selectedProject(); as project) {
  <div class="board">
    <div class="header">
      <h1>{{ project.name }}</h1>
      <div class="actions">
        <button matFab extended 
          (click)="openDialog()">
          <mat-icon>assignment_add</mat-icon>
          New work item
        </button>
        <button matFab extended 
          (click)="toOverview()">
          <mat-icon>folder</mat-icon>
          Back to Overview
        </button>
      </div>
    </div>
    <div class="swimlanes">
      @for (lane of swimlanes; track $index) {
        <app-swimlane 
          [lane]="lane" 
          [laneId]="'lane-' + $index"
          [connectedTo]="getConnectedLanes($index)"
          (drop)="onDrop($event, $index)">
        </app-swimlane>
      }
    </div>
  </div>
}
@else {
  {{ 'Nothing to see here' }}
}