@if (projectStore.loading()) {
  <app-spinner></app-spinner>
}
@else if (projectStore.selectedProject(); as project) {
  <div class="board">
    <div class="header">
      <h1>{{ project.name }}</h1>
      <button matFab extended 
        class="back-button" 
        (click)="toOverview()">
        <mat-icon>folder</mat-icon>
        Back to Overview
      </button>
    </div>
    <div class="swimlanes">
      @for (lane of swimlanes; track $index) {
        <app-swimlane 
          [lane]="lane" 
          [laneId]="'lane-' + $index"
          [connectedTo]="getConnectedLanes($index)"
          (drop)="onDrop($event)">
        </app-swimlane>
      }
    </div>
  </div>
}
@else {
  {{ 'Nothing to see here' }}
}