:host {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    align-items: center;
    justify-content: center;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 200px;
}